let mapleader = "\<Space>"

inoremap kj <Esc>
cnoremap kj <C-c>

set hlsearch
set incsearch
set ignorecase
set smartcase

set rnu

set commentary

nnoremap <silent> \ :noh<CR><ESC>

nnoremap <leader>d "_d
xnoremap <leader>d "_d
nnoremap <leader>D "_D
xnoremap <leader>D "_D
